*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#111827;
    color:white;
    padding:15px 40px;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

/* Hero */

.hero{
    text-align:center;
    padding:60px 20px;
    background:#2563eb;
    color:white;
}

.hero h1{
    margin-bottom:10px;
}

/* Grid Layout */

.container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:25px;
    padding:30px;
}

/* Cards */

.card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.15);
}

.card h2{
    margin-bottom:15px;
}

/* Form */

input,
textarea,
select{
    width:100%;
    padding:12px;
    margin:10px 0;
}

textarea{
    height:100px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

/* Workout List */

ul{
    list-style:none;
    margin-top:15px;
}

li{
    background:#e5e7eb;
    padding:10px;
    margin-top:10px;
    border-radius:5px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.deleteBtn{
    background:red;
}

/* Footer */

footer{
    text-align:center;
    padding:20px;
    background:#111827;
    color:white;
}

/* Responsive Design */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:10px;
    }

    .nav-links{
        flex-direction:column;
        align-items:center;
    }

    .hero h1{
        font-size:24px;
    }
}